%div#registration_container.container
  %h1.text-center Registration
  %br
  %form.form.col-md-12.center-block
    %div.form-group
      %input{type: "text", class: "form-control input-lg", placeholder: "Name"}
    %div.form-group
      %input{type: "text", class: "form-control input-lg", placeholder: "Email"}
    %div.form-group
      %input{type: "text", class: "form-control input-lg", placeholder: "Password"}
    %div.form-group
      %button.btn.btn-primary.btn-lg.btn-block Register
      %span.pull-right
        %a{href: "#"} Login