%div.navbar.navbar-default.navbar-fixed-top
  %div.container
    %a.navbar-brand{href: '#'} BuyTickets
    %ul.nav.navbar-nav
      %li
        %a{href: "#"} Events
      %li
        %a{href: "#"} Shopping Cart
      %li
        %a{href: "#"} Logout