%div.container
  %div.row
    %div.col-lg-12
      %h1.page-header Event Name
  %div.row
    %div.col-lg-7
      %a{href: "#"}
        %img{class: "img-responsive", src: "http://placehold.it/700x300", alt: ""}
    %div.col-md-5
      %h4 Event time and venue
      %h4 Category: event category
      %p Event description
      %a{class: "btn btn-success", href: "#"} 
        Book now
        %span.glyphicon.glyphicon-plus